body {
   --ion-background-color: #191F21 !important; 
  
  // #3f80b5
  // #191F21
  // #F3F2F8
}
.range{
  --bar-height: 9px;
  --knob-size: 20px
}
.metHead{
  --ion-background-color: #000;
}
// ion-content.background{
//   --background: url('../img/beats.jpg') 0 0/100% 100% no-repeat;
// }
// {this.state.beatsPerMeasure}/4 Time
// ion-page.metronome{
//   background-image: url('https://images.pexels.com/photos/1798642/pexels-photo-1798642.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
// }
.list-md{
  background-color: transparent !important;
}
.item-input{
  --background: transparent !important;
}
.item-label{
  --background: transparent !important;
}
ion-page.metronome > ion-content{
background-color: transparent;
}
:root{

  // --ion-color-primary:#00FFFF;
  --ion-color-primary:#BDBDBD;
  // #bcc6cc
  --ion-color-secondary:#55C1A2;
  // #fee715ff
  // --ion-color-secondary:#fff;
  --ion-color-warning: #55C1A2;
  --ion-color-danger: #fff;
  --ion-font-family: 'calistoga';
  --ion-background:#fff !important;
  --ion-toolbar-background:transparent;
}
.item-has-focus{
  --highlight-height:1px;
}
@font-face {
  font-family: 'calistoga';
  font-style: normal;
  font-weight: normal;
  src: url('../calistoga/Calistoga-Regular.ttf');
}
.item-interactive {
   --border-width: 0 ;
}
.click-input{
  --inner-border-width: 0;
}
.time-signature{
  --inner-border-width: 0;
}
.toolbar-background{
  --background:#fff  !important;
}
.range-knob{
  background: #555555;
}
.list-md {
  padding-top: 8px; 
  padding-bottom: 8px;
}

.nap{
  $button-md-padding-end:10px;
  $button-lg-padding-end:0 auto;
  $button-sm-padding-end: 2px;
//  $button-md-medium-width: 40px;
//  $button-md-medium-height: 40px;
//  $button-lg-large-width:60px;
//  $button-lg-large-height: 60px;
//  $button-sm-small-width: 20px;
//  $button-sm-small-height:20px;
// @media (min-width: 820px) {
//     .web-fab {
//         display: 155px !important;
//     }
// }
}